h2 {
    font-family: "Caballerus";
    display: flex;
    font-size: 40px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

div.products__container {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
